#intelij
.idea/
*.iml

#maven
target

#node
**/node/
**/node_modules/

#eclipse
.project
.settings
**/*.classpath



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
