<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"></meta>
        <title>Title</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>



        <!-- etiqueta para crear estilos-->
        <style>
            .distance-left {
                margin-left:470px;
                color: royalblue;
            }
            .color1 {
                background-color: green;
                height: 30px;
            }
            .color2 {
                background-color: red;
                height: 30px;
            }
            .color3 {
                background-color: yellow;
                height: 30px;
            }

        </style>

    </head>
    <body>

        <div class="text-center Semibold 36px bg-primary">
            <h1>Nuevo Articulo</h1>
        </div>

        <!--
        <div class="distance-left">
            <label>Nombre</label>
            <input style="margin-left: 23px;" type="text"/>
        </div>
        -->
        <div class="form-group col-xs-4 col-md-offset-4">
            <label for="usr">Name:</label>
            <input type="text" class="form-control" id="usr"/>
        </div>

        <div class="form-group col-xs-4 col-md-offset-4">
            <label for="usr">Descripcion:</label>
            <input type="text" class="form-control" id="usr"/>
        </div>

        <div class="form-group col-xs-4 col-md-offset-4">
            <label for="usr">Precio:</label>
            <input type="text" class="form-control" id="usr"/>
        </div>

        <div class="row">
            <div class="col-xs-1 col-md-offset-5">
                <button type="button" class="btn btn-success">Cancelar</button>
            </div>

            <div class="col-xs-1">
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
       <!-- 1 2 3 4 5 6 7 8 9 10 11 12-->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>

</html>
