<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



    <!-- etiqueta para crear estilos-->
    <style>
        .distance-left {
            margin-left:470px;
            color: royalblue;
        }
        .color1 {
            background-color: green;
            width: 100%;
            height: 30px;
        }
        .color2 {
            background-color: red;
            width: 100%;
            height: 30px;
        }
        .color3 {
            background-color: yellow;
            width: 100%;
            height: 30px;
        }

    </style>

</head>
<body>

    <div style="margin-left:550px; text-decoration: underline; color: red;">
        <p>Nuevo Articulo</p>
    </div>


    <div class="distance-left">
        <label>Nombre</label>
        <input style="margin-left: 23px;" type="text"/>
    </div>

    <div class="distance-left">
        <label>Descripcion</label>
        <input style="margin-left: -1px;" type="text"/>
    </div>

    <div class="distance-left">
        <label>Precio</label>
        <input style="margin-left: 32px;" type="text"/>
    </div>

    <div>
        <button type="submit">
            Guardar
        </button>

        <button type="submit">
            Cancelar
        </button>
    </div>

    <div class="row">
        <div class="color1 col-md-4">

        </div>
        <div class="color2 col-md-4">

        </div>
        <div class="color3 col-md-4">

        </div>
    </div>

</body>
</html>
