<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
  <div class="container">

    <div th:replace="fragments/header :: header"></div>


    <div class="text-center Semibold 36px btn-info">
    <h1>Lista de Articulos</h1>
    </div>

    <table id="tblArticles" class="table table-bordered" style="font-size:20px;">
      <thead>
      <tr>
        <th class="text-center"><strong>sku</strong></th>
        <th class="text-center"><strong>Precio</strong></th>
        <th class="text-center"><strong>Cantidad</strong></th>
        <th class="text-center"><strong>Costo</strong></th>
        <th class="text-center"><strong>Tipo de Producto</strong></th>
        <th class="text-center"><strong>Precio Parcial</strong></th>
        <!--<th class="text-center"><strong>Categoria</strong></th>-->
        <th class="text-center"><strong>Descripcion</strong></th>
        <th class="text-center"><strong>Costo Parcial</strong></th>
        <th class="text-center"><strong>Accion: </strong></th>
      </tr>
      </thead>
      <tbody>
        <tr></tr>
      </tbody>
    </table>

    <div>
      <input type="button" value="Obtener Articulos" class="btn btn-warning" onclick="getArticles()"/>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/js/articleList.controller.js"></script>


</body>

</html>

