<!DOCTYPE html>
<html>
<head>
  <title>Spring Security Example </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>
<div th:if="${param.error}">
  Invalid username and password.
</div>
<div th:if="${param.logout}">
  You have been logged out.
</div>
<form th:action="@{/login}" method="post">
  <div class="container">
    <div class="row justify-content-start">
      <div class="class=col-sm-4">
        <div class="form-group">
          <label> Usuario : <input type="text" name="username" placeholder="Ingrese nombre Usuario"/> </label>
        </div>
        <div class="form-group">
          <label> Contraseña: <input type="password" name="password" placeholder="Ingrese su contraseña"/> </label>
        </div>
        <div><input type="submit" value="Sign In" class="btn btn-warning"/></div>
      </div>
    </div>
  </div>

</form>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>

