<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>


  <!-- etiqueta para crear estilos-->
  <style>
            .distance-left {
                margin-left:470px;
                color: royalblue;
            }
            .color1 {
                background-color: green;
                height: 30px;
            }
            .color2 {
                background-color: red;
                height: 30px;
            }
            .color3 {
                background-color: yellow;
                height: 30px;
            }


  </style>

</head>
<body>

    <div>
      <a href="/home">Pagina Principal</a>
    </div>
    <div class="text-center Semibold 36px bg-primary">
      <h1>Nuevo Articulo</h1>
    </div>


  <form class="col-sm-8">

    <div class="form-group col-xs-6">
      <label for="sku">Codigo:</label>
      <input type="text" class="form-control" id="sku" name="sku" placeholder="sku"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="precio">Precio:</label>
      <input type="text" class="form-control" id="precio" name="precio"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="quantity">Cantidad:</label>
      <input type="text" class="form-control" id="quantity" name="quantity"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="costo">Costo:</label>
      <input type="text" class="form-control" id="costo" name="costo"/>
    </div>

    <div class="form-group col-xs-6">

      <label for="typeProd">Elige un Tipo de Producto:</label>
      <select id="typeProd" name="typeProd">
        <option value="Costuras">Costuras</option>
        <option value="Libreria">Libreria</option>
        <option value="Hogar">Hogar</option>
        <option value="Articulos Femeninos">Articulos Femeninos</option>
        <option value="Indumentaria">Indumentaria</option>
        <option value="Cumpleanos">Cumpleanos</option>
        <option value="Accesorios">Accesorios</option>
        <option value=""></option>
      </select>
    </div>

    <div>

    </div>

    <div class="form-group col-xs-6">
      <label for="priceParcial">Precio Parcial:</label>
      <input type="text" class="form-control" id="priceParcial" name="priceParcial"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="description">Descripcion:</label>
      <input type="text" class="form-control" id="description" name="description"/>
    </div>

    <div class="form-group col-xs-6">
      <label for="parcialCost">Costo Parcial</label>
      <input type="text" class="form-control" id="parcialCost" name="parcialCost"/>
    </div>

    <div class="col-sm-6 col-sm-offset-4">
      <input type="button" class="btn btn-primary" onclick="saveArticle()" value="Guardar"/>
    </div>

    <!--<div class="row">

      <div class="col-sm-6">
        <button type="button" class="btn btn-success">Cancelar</button>
      </div>

      <div class="col-sm-6">
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div> -->

  </form>

<!-- 1 2 3 4 5 6 7 8 9 10 11 12-->



    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
            crossorigin="anonymous"></script>
    <script src="/js/newArticle.js"></script>

</body>

</html>
