<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body onload="showGreeting()">
  <form>
    <div>
      <a href="/home">Pagina Principal</a>
    </div>
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-sm-4">
          <label for="sku">Detalles de la venta</label>
          <input type="text" class="form-control" id="sku" name="sku" placeholder="detalle de la venta"/>

        </div>

      </div>

    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/js/salesDetail.controller.js"></script>

</body>
</html>

