<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body onload="showGreeting()">
  <form>
    <div class="container">
      <div th:replace="fragments/header :: header"></div>
      <div class="text-center Semibold 36p btn-info" style="background-color:#3cb371;">
        <h1>Detalles de Ventas</h1>
      </div>
        <div class="col-sm-4">
          <label for="sku">Detalles de la venta</label>
          <input type="text" class="form-control" id="sku" name="sku" placeholder="Detalle de la Venta"/>

        </div>

      </div>

    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/js/salesDetail.controller.js"></script>

</body>
</html>

