  <!DOCTYPE html>
  <html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

  </head>
  <body>
  <div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="text-center Semibold 36px btn-success">
      <h1>Buscar Articulo</h1>
    </div>

    <div class="form-group "  style="font-size:30px;">
      <label for="sku">Ingrese el codigo del Articulo</label>
      <input type="text" class="form-control" id="sku" name="sku" placeholder="Codigo"/>
    </div>
    <div class="form-group">
      <input type="button" value="Buscar Articulo" class="btn btn-warning" onclick="getArticle()"/>
    </div>

    <div id="articlePrice" style="font-size:20px;">
      <label>Precio de venta: </label>
    </div>

    <div id="articleQuantity"  style="font-size:20px;">
      <label>Cantidad en stock: </label>
    </div>

    <div id="articleCost"  style="font-size:20px;">
      <label>Costo del Articulo: </label>
    </div>

    <div id="articleTypeProd"  style="font-size:20px;">
      <label>Tipo de producto:</label>
    </div>

    <div id="articlePriceParcial"  style="font-size:20px;">
      <label>Precio Parcial del articulo: </label>
    </div>

    <div id="articleDescription"  style="font-size:20px;">
      <label>Descripcion del articulo: </label>
    </div>

    <div id="articleParcialCost"  style="font-size:20px;">
      <label>Precio por unidad/centimetros: </label>
    </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/js/article.service.js"></script>
  <script src="/js/searchArticle.controller.js"></script>
  </body>

  </html>

